# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
logs/
*.log

# OS generated
.DS_Store
Thumbs.db

# JWT tokeny / secrets (jeśli trzymasz)
*.key
*.pem
*.jks
*.p12
.secret
.env
